body {
	margin: 0;
}

#abstract {
	font-size: 22.5px;
	font-family: 'F Grotesk', sans-serif;
	width: 60%;
	background-color: transparent;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

blockquote {
	display: inline;
	padding-left: 50px;
}