@font-face {
    font-family: 'proteststencil';
    src: url('font/proteststencil-webfont.eot');
    src: url('font/proteststencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/proteststencil-webfont.woff2') format('woff2'),
         url('font/proteststencil-webfont.woff') format('woff'),
         url('font/proteststencil-webfont.ttf') format('truetype'),
         url('font/proteststencil-webfont.svg#proteststencilproteststencil') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aramat';
    src: url('font/aramat-webfont.eot');
    src: url('font/aramat-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/aramat-webfont.woff2') format('woff2'),
         url('font/aramat-webfont.woff') format('woff'),
         url('font/aramat-webfont.ttf') format('truetype'),
         url('font/aramat-webfont.svg#aramatsans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
}

#betaabstract {
	font-family: 'proteststencil', sans-serif;
	font-size: 60px;
	line-height: 60px;
	padding-top: 20px;
	letter-spacing: -3px;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	width: 100%;
	color: black;
}

#date1 {
	font-family: 'proteststencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	right: 0;	
	width: 39%;
	position: absolute;
	margin-top: 15vh;
	color: black;
}

#abstract1 {
	font-size: 22.5px;
	font-family: 'aramat', sans-serif;
	line-height: 25px;
	width: 60%;
	margin: auto;
	float: left;
	padding-right: 40%;
	padding-left: 1%;
	color: black;
}

#date2 {
	font-family: 'proteststencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	left: 0;	
	width: 39%;
	position: absolute;
	margin-top: 20vh;
	color: black;
}

#abstract2 {
	font-size: 22.5px;
	line-height: 25px;
	font-family: 'aramat', sans-serif;
	width: 60%;
	margin: auto;
	float: right;
	padding-left: 40%;
	padding-right: 1%;
	color: black;
}

#date3 {
	font-family: 'proteststencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	right: 0;	
	width: 39%;
	position: absolute;
	margin-top: 30vh;
	color: black;
}

#abstract3 {
	font-size: 22.5px;
	line-height: 25px;
	font-family: 'aramat', sans-serif;
	width: 60%;
	margin: auto;
	float: left;
	padding-right: 40%;
	padding-left: 1%;
	color: black;
}

#date4 {
	font-family: 'proteststencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	left: 0;	
	width: 39%;
	position: absolute;
	margin-top: 40vh;
	color: black;
}

#abstract4 {
	font-size: 22.5px;
	line-height: 25px;
	font-family: 'aramat', sans-serif;
	width: 60%;
	margin: auto;
	float: right;
	padding-left: 40%;
	padding-right: 1%;
	color: black;
}

blockquote {
	display: inline;
	padding-left: 50px;
}