body {
	margin: 0;
	background-color: black;
}

#betaabstract {
	font-family: 'Aramat-Stencil', sans-serif;
	font-size: 60px;
	line-height: 60px;
	padding-top: 20px;
	letter-spacing: -3px;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	width: 100%;
	color: red;
}

#date1 {
	font-family: 'Aramat-Stencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	right: 0;	
	width: 39%;
	position: absolute;
	margin-top: 20vh;
	color: red;
}

#abstract1 {
	font-size: 22.5px;
	font-family: 'F Grotesk', sans-serif;
	width: 60%;
	margin: auto;
	float: left;
	padding-right: 40%;
	padding-left: 1%;
	color: white;
}

#date2 {
	font-family: 'Aramat-Stencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	left: 0;	
	width: 39%;
	position: absolute;
	margin-top: 30vh;
	color: red;
}

#abstract2 {
	font-size: 22.5px;
	font-family: 'F Grotesk', sans-serif;
	width: 60%;
	margin: auto;
	float: right;
	padding-left: 40%;
	padding-right: 1%;
	color: white;
}

#date3 {
	font-family: 'Aramat-Stencil', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
	margin-top: 0;
	right: 0;	
	width: 39%;
	position: absolute;
	margin-top: 40vh;
	color: red;
}

#abstract3 {
	font-size: 22.5px;
	font-family: 'F Grotesk', sans-serif;
	width: 60%;
	margin: auto;
	float: left;
	padding-right: 40%;
	padding-left: 1%;
	color: white;
}

blockquote {
	display: inline;
	padding-left: 50px;
}